@import '../../../../scss/variables';

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--header-size);
	padding: 0 var(--gap-size);
	background-color: var(--header-background-color);
	box-shadow: var(--shadow);
	transition: $bg-transition;
}

.header-logo {
	display: flex;
	align-items: center;

	.icon-logo {
		max-width: var(--logo-size);
		margin-right: var(--gap-size);
	}

	.text-logo {
		font-size: 2.2rem;
		font-weight: bold;
		color: var(--foreground-color);

		.extension {
			font-size: 1.2rem;
			color: var(--secondary-text);
		}
	}

}

.nav-container {
	display: flex;
	align-items: center;

	a {
		color: var(--secondary-text);

		&:hover {
			color: var(--link-color)
		}
	}
}

.header-nav {

	ul {
		display: flex;
	}

	a {
		padding: var(--gap-size);
		transition: border-bottom-width .2s;
		position: relative;

		&:after {
			content: '';
			margin: 0 auto;
			position: absolute;
			opacity: 0;
			bottom: 0;
			left: 0;
			right: 100%;
			transition: all $cubic-transition;
			border-bottom: $border-size solid var(--link-color);
		}

		&.router-link-active {
			color: var(--link-color);
		}

		&.router-link-active:after,
		&:hover:after {
			opacity: .6;
			right: 0;
			left: $border-size;
		}

		&.router-link-active:after {
			opacity: 1;
		}
	}
}

.icon-button {
	padding: var(--gap-size) 1rem;
	font-size: 1.4rem;
	cursor: pointer;
}
