<header id="main-header" class="main-header">
  <ale-progress-bar (scrolled)="toggleHomeRouteClass($event)"></ale-progress-bar>
  <div class="screen-container">
    <div class="header-container flex-center">

      <!-- Logo -->
      <a class="header-logo flex-center" [routerLink]="['/']">
        <img class="icon-logo" [src]="homeRoute | logoPath: homeRouteClass" alt="Logo alej.dev">
        <span class="text-logo">
          alej<span class="extension">.dev</span>
        </span>
      </a>

      <nav class="header-nav flex-center">

        <!-- Pages -->
        <ul class="pages-nav flex-center" [class.opened-menu]="openedMenu" [hidden]="!desktop && !openedMenu">
          <li *ngFor="let item of mainMenu$ | async">
            <a [routerLink]=[item.url] routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }" (click)="openedMenu=false">
              <span>{{item.name | translate}}</span>
            </a>
          </li>
        </ul>

        <!-- Social -->
        <ale-icon-list [data]="socialMenu$ | async"></ale-icon-list>

        <!-- Buttons -->
        <ul class="button-nav flex-center">
          <li>
            <a class="icon-button" role="button" (click)="toggleTheme()">
              <fa-icon [icon]="themeMode | iconTheme"></fa-icon>
            </a>
          </li>
          <li>
            <a id="menuToggle" class="icon-button" role="button" [attr.aria-expanded]="openedMenu" (click)="openedMenu=!openedMenu">
              <ale-menu-button [active]="openedMenu" [homeRoute]="homeRoute"></ale-menu-button>
            </a>
          </li>
        </ul>

      </nav>
    </div>
  </div>
</header>
