@import '../../../../scss/variables';

.main-header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--header-background-color);
	box-shadow: var(--shadow);
	transition: background-color $time-transition;
}

.header-container {
	padding: 0 var(--gap-size);
	height: var(--header-size);
}

.header-logo {
	.icon-logo {
		max-width: var(--logo-size);
		margin-right: var(--gap-size);
		transition: max-width $time-transition;
	}

	.text-logo {
		font-size: var(--logo-text-size);
		font-weight: bold;
		color: var(--foreground-color);

		.extension {
			font-size: 1.2rem;
			color: var(--secondary-text);
		}
	}
}

.header-nav {
	a {
		color: var(--secondary-text);
		cursor: pointer;
		display: block;

		&:hover {
			color: var(--link-color)
		}

		&.icon-button {
			padding: var(--gap-size) 1rem;
			font-size: 1.4rem;
			cursor: pointer;
		}
	}
}

.pages-nav {
	a {
		padding: var(--gap-size);
		transition: border-bottom-width $time-transition;
		position: relative;

		&:after {
			content: '';
			margin: 0 auto;
			position: absolute;
			opacity: 0;
			bottom: 0;
			left: 0;
			right: 100%;
			transition: all $cubic-transition;
			border-bottom: $border-size solid var(--link-color);
		}

		&.router-link-active {
			color: var(--link-color);
		}

		&.router-link-active:after,
		&:hover:after {
			opacity: .6;
			right: 0;
			left: 0;
		}

		&.router-link-active:after {
			opacity: 1;
		}
	}
}

#menuToggle {
	display: none;
}

@media only screen and (max-width: $sm-screen) {
	#menuToggle {
		display: block;
	}

	.pages-nav {
		flex-direction: column;
		justify-content: space-around;
		position: absolute;
		top: calc(var(--header-size));
		left: 0;
		width: 100%;
		height: 0;
		background-color: var(--background-color);
		transition: height $cubic-transition;
		overflow: hidden;

		&.opened-menu {
			height: calc(100vh - var(--header-size));
		}

		li {
			width: 100%;
			height: 100%;
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: #{$grey} + 20;
			text-align: center;

			a {
				display: table;
				padding: var(--gap-size);
				width: 100%;
				height: 100%;
				font-size: 1.6rem;
				font-weight: bold;

				&:after {
					bottom: -1px;
				}

				&.router-link-active {
					background-color: #{$grey} + 20;
				}

				span {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
	}
}
