@import '../../../../scss/variables';

$border: $border-size * 1.5;

#progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 0;
	z-index: 2;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	height: $border;
	background: $gradient;
	transition: width $time-transition;
}
