// COMPONENTS
@import 'variables';

.page-wrapper {
	padding: calc(var(--header-size) + var(--gap-size)) var(--gap-size) var(--gap-size);
}

.container {
	padding: var(--gap-size);
}

.screen-container {
	max-width: $lg-screen;
	margin: auto;
}

.flex-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
