// MAIN

@import 'variables';

:root {
	@include set-map($root-config);
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-size: $main-font-size;
	font-family: $primary-font;
	background-color: var(--background-color);
	color: var(--foreground-color);
	transition: background-color $time-transition;
}

* {
	-webkit-font-smoothing: antialased;
	-moz-osx-font-smoothing: antialased;
	box-sizing: border-box;
}

code {
	font-family: $tertiary-font;
	font-size: $code-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1.2em 0 1em;
	font-family: $secondary-font;
	font-weight: 800;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

p {
	line-height: $line-height-size;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
