// VARIABLES

// Colors
$primary-color:									#2141f8;
$secondary-color:								#9827df;
$tertiary-color:								#3df7e3;
$link-color:											$primary-color;
$success-color:			 						#51df70;
$info-color:			 							#348fe4;
$warning-color:			 						#ffd95b;
$error-color:			 							#f75f5f;
$gradient:												linear-gradient(
																		165deg,
																		$secondary-color 8%,
																		$primary-color 46%,
																		$tertiary-color
																	);

$black:													#000;
$dark-0:			 										lighten($black, 3%);
$dark-1:			 										lighten($black, 10%);
$dark-2:			 										lighten($black, 20%);
$dark-3:			 										lighten($black, 30%);
$dark-4:			 										lighten($black, 40%);
$grey:													#808080;
$white:													#fff;
$light-0:			 										darken($white, 3%);
$light-1:			 										darken($white, 10%);
$light-2:			 										darken($white, 20%);
$light-3:			 										darken($white, 30%);
$light-4:			 										darken($white, 40%);

$light-background-color:					$white;
$light-header-background-color:		$light-background-color;
$light-foreground-color:					$dark-1;
$light-link-color:								$link-color;

$dark-background-color:						$dark-1;
$dark-header-background-color:		$dark-background-color;	
$dark-foreground-color:						$light-0;
$dark-link-color:									lighten($link-color, 10%);

// Sizes
$border-size:			 								3px;
$gap-size:					 							2rem;
$header-size:			 								86px;
$line-height-size:								2.2;
$logo-size:												48px;
$logo-text-size:									2.2rem;
$radius-size:			 								.5rem;
$sidemenu-size:			 							280px;
$scroll-size:											17px;

// Others
$translucent-text:								rgba($color: $white, $alpha: .8);
$translucent-text-hover:					rgba($color: $white, $alpha: 1);
$shadow-light:										0 0 4px rgba(0, 0, 0, .1);
$shadow-dark:											0 0 4px rgba(255, 255, 255, .1);
$time-transition:									.4s;
$cubic-transition:								$time-transition cubic-bezier(.23, 1, .32, 1);

// Screen media queries
$lg-screen:												1280px;
$sm-screen:												960px;
$xs-screen:												600px;

// Fonts
$primary-font:			 							'Poppins', sans-serif;
$secondary-font:			 						$primary-font;
$tertiary-font:			 							'Inconsolata', monospace;
$main-font-size:			 						1.1rem;
$h1-font-size:										3.2rem;
$h2-font-size:										2.6rem;
$h3-font-size:										2.2rem;
$h4-font-size:										1.8rem;
$h5-font-size:										1.4rem;
$h6-font-size:										1.2rem;
$code-font-size:									$main-font-size;

// Root variables
$root-config: (
	gap-size:			 									$gap-size,
	header-size:										$header-size,
	logo-size:			 								$logo-size,
	logo-text-size:	 								$logo-text-size,
);
